
@{
    ViewBag.Title = "About";
}

<h2>Hello, I'm Mpho</h2>
<p>A short bio about me</p>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-5">
            <h2>Bio</h2>
            <p>So here is the thing... I honestly did not know that writting about yourself will be this hard. I don"t even know where to star. So let me keep it short and say my Name is Mpho and I am a second year university of Pretoria student. I have no hobbies since school is taking all my time but once upon a time I would say I love reading book. The degree that is taking almost all my social time is Bcom Informatics and if I am being honest with myself I am enjoying this challenge.</p>
        </div>
        <div class="col-md-7">
            <div class="form-horizontal">
                <h3>Mpho</h3>
                <img src="~/My picture/IMG_0421.JPG" alt="My Photo" width="100" />

            </div>
        </div>
    </div>
</div>
